Backends mixing up with HTTP2

Hey guys

I've migrated from a custom managed haproxy to the ingress controller which hosts a number of internet facing services, some of which are provided by deployments in the cluster and some are of ExternalName type. Additionally, I have a default certificate configured but some ingress resources are configured for ssl-passthrough. 
The issue I'm about to describe is something I've experienced before but not been able to reproduce after it somehow stopped happening - now, I've created another new ingress resource and I'm having it again.

Essentially, it somehow happens that the new ingress resource renders for all the different host names served by this ingress controller.

Example: browse to a.test.com (hosted in the cluster with ssl passthrough), browse to b.test.com (externalname service with ssl passthrough), instead of seeing content of b, I see content of a. Launching a new browser private tab allows me to reproduce this behavior. If I browse to B first, then A, then B, I see correct content for the first 2 attempts, then the 3rd change results in content of A instead of B. 

The backend of the application A is an nginx container with http2 enabled, after disabling it, it seemed like this problem didn't occur until I browsed to another page which might is also http2 enabled.

How can I understand what's going on? Debug logs don't provide any insight.

K8s Rev: v1.22.9
Haproxy Ingress Controller Version: 1.7.9

This is caused by HTTP2 [connection reuse](https://datatracker.ietf.org/doc/html/rfc7540#section-9.1.1) (RFC 7540, section 9.1.1). If the certificate from a.test.com is also valid for b.test.com, the connection will be reused:

> For example, a certificate with a "subjectAltName" of "*.example.com" might permit the use of the same connection for requests to URIs starting with "https://a.example.com/" and "https://b.example.com/".

>In some deployments, reusing a connection for multiple origins can result in requests being directed to the wrong origin server. For example, TLS termination might be performed by a middlebox that uses the TLS Server Name Indication (SNI) [[TLS-EXT](https://datatracker.ietf.org/doc/html/rfc7540#ref-TLS-EXT)] extension to select an origin server. This means that it is possible for clients to send confidential information to servers that might not be the intended target for the request, even though the server is otherwise authoritative.



Alright, that must be it 🤦
I use a wildcard cert indeed - what's the best way to disable connection reuse? 
The global config `no http-reuse` will do?

I'm not sure, but I don't think HAProxy could prevent this. Since the connection is private (the backends are in SSL passthrough mode), it cannot inspect the packets to route requests. Also, it is the client that is reusing the connection.

It looks like the ```http-reuse never``` directive works in the defaults section works.

Thanks @fabianonunes 

Nope, still happening 🤦

Since you are using SSL passthrough, HAProxy is working in TCP mode and cannot examine HTTP connections to make decisions.

To disable the reuse of connections, you can only choose two:

- wildcard certificates
- same IP for both domains
- HTTP2

It can't. ALPN is a TLS extension that permits the protocol negotiation *within* the TLS handshake. Since HAProxy isn't involved in the TLS connection, it can't advertise the protocol in this communication.

You're right, I was looking at the wrong section of the config file - I've disabled http/2 on that specific backend. 
Another backend, Grafana, still uses http/2 even when the backend is configured as follows:
```
frontend https
  mode http
  bind 127.0.0.1:443 name v4 crt /etc/haproxy/certs/frontend ssl alpn h2,http/1.1 accept-proxy
  bind :::443 name v6 crt /etc/haproxy/certs/frontend ssl v4v6 alpn h2,http/1.1 accept-proxy

backend cattle-monitoring-system-rancher-monitoring-grafana-nginx-http
  mode http
  default-server alpn http/1.1 init-addr last,libc,none
  server SRV_1 10.42.5.11:8080 enabled
```

So it's http/2 to haproxy and then http 1.1 to the backend?

I was expecting to fix this with `ssl_default_bind_options: "alpn http/1.1"` but the option doesn't work due to the error mentioned earlier.

> So it's http/2 to haproxy and then http 1.1 to the backend?
Yes. HAProxy is talking HTTP/1.1 with the backend and HTTP/2 with its clients.

To disable HTTP2 between the client and HAProxy, you should disable it on the frontend's `bind` keyword (remove the `alpn h2,http/1.1` option).

But this isn't the same scenario you described earlier. In this case, HAProxy isn't in TCP mode, so it can make decisions and route the requests to the correct backend via SNI.

Yup, there are two cases:
- TCP mode passthrough to a backend server (2 separate applications)
- HTTP mode reverse proxy exposing the rest of services

I figured that the TCP scenario was a problem because I used the same wildcard cert for all the applications behind TCP mode passthrough and for the HTTP frontend. For now the two TCP backends are HTTP 1.1.

Regarding `alpn h2,http/1.1`, I've not been able to figure out how to change the default bind option in the ingress controller.
I got it working with the backend by adding a backend resource but ssl_default_bind_options in the defaults resource results in an error.

Can you advise me how to change the default bind option params on the frontend?

> Can you advise me how to change the default bind option params on the frontend?

Use the [tls-alpn](https://github.com/haproxytech/kubernetes-ingress/blob/master/documentation/annotations.md#tls-alpn) annotation in the configmap:
```yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: kubernetes-ingress
  namespace: default
data:
  # ...
  tls-alpn: http/1.1
```

I don't know how I missed this.
Turns out I don't need any of the custom resources for defaults.

I'll close this issue; I hope it will help others should they ever come across this situation.

Thanks @fabianonunes 

I'm reopening this issue because I noticed something interesting. 

I added new ingress resource, with TLS termination and `haproxy.org/server-ssl` set to true.
I kept getting seeing the error: a HTTP packet was sent to a HTTPS port.

I kept looking into it and eventually end up inspecting the haproxy.cfg file and I found that the generated config was not inserting the `ssl` directive into the backend. I then found it was because I was using the following Backend resource on my haproxy instance:

`apiVersion: "core.haproxy.org/v1alpha1"
kind: Backend
metadata:
  name: haproxy-backend
  namespace: haproxy
spec:
  config:
    default_server: 
      alpn: http/1.1`

I didn't expect that the use of a custom backend resource would stop me from being able to use the standard annotations.

The generated config is quite different with this resource in place:
With the Backend resource in place:
`
backend services_xxx_https
  mode http
  default-server alpn http/1.1 init-addr last,libc,none
  server SRV_1 xxx:443 enabled
`
Without the Backend resource in place:
`
backend services_xxx_https
  mode http
  balance roundrobin
  option forwardfor
  no option abortonclose
  default-server check ssl alpn h2,http/1.1 init-addr last,libc,none verify none
  server SRV_1 xxx:443 enabled
`
Is this a bug or expected behavior?

If expected, how can I enforce `alpn http/1.1` without breaking the functionality of the annotations?

Thanks

You [can't mix Backend resources and annotations](https://github.com/haproxytech/kubernetes-ingress/blob/master/documentation/custom-resources.md#custom-resources):

> Custom resources are meant to replace annotations when possible. So they will have precedence when used.
Example: if the backend resource is used no backend annotation will be processed which means a **backend cannot be configured by mixing both the backend resource and backend annotations**.

You must fill all the parameters in your `Backend` resource:

```
apiVersion: "core.haproxy.org/v1alpha1"
kind: Backend
metadata:
  name: haproxy-backend
  namespace: haproxy
spec:
  config:
    mode: http
    balance:
      algorithm: leastconn
    default_server:
      verify: none
      check: enabled
      ssl: enabled
      check-ssl: enabled
      alpn: http/1.1
```

Thanks @fabianonunes 

It makes sense, once again I missed this in the documentation.

I just removed the the backend resource, I don't care whether http 1.1 or 2 are used at the backend any more as I changed the certificates that were causing the misrouting behavior and all is well now.

Thanks!